header { 
    text-align: center;
}

body {
  background-color: white;
  color: #575700;
  font-family: calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  padding: 2em;
  margin: 0;
}

.bilde {
  height: auto;
  margin: 20px auto;
  display: block;
  border: none;
  border-radius: 30px;
}

section {
  border: none;
  border-radius: 30px;
  background-color: beige;
  padding: 2em;
  margin-bottom: 20px;
}

h2, h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.container { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-content: space-evenly;
}

.box {
    flex: 1 1 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.form {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 10px; 
 }

button { 
    background-color: #575700;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    grid-column: 2;
    justify-self: start;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
   
    padding: 10px 0;
    font-weight: normal;
    align-items: start;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;

}